.body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 70vh;
    width: 80vh;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    background: linear-gradient(0deg, rgb(29, 29, 31) 48%, rgb(42, 19, 25) 100%);
}
