@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&display=swap");
@font-face {
  font-family: DragonHunter;
  src: url(fonts/DragonlordPersonalUseOnlyRegular-PKxzm.otf);
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgb(29, 29, 31) 48%, rgb(42, 19, 25) 100%);
}
